# Runtime data
pids
*.pid
*.seed

.DS_Store
.turbo
*.log
.next
*.local
.env
.cache

# Generated dir
node_modules
server/dist
public/dist
dist
dist-ssr
coverage/
storybook-static
packages/*/dist
packages/*/coverage
